* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 14px;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
}

img {
    width: 299px;
    height: 452px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    margin: 30px auto 30px auto;
    line-height: 150%;
    color: hsl(228, 12%, 48%);
    width: 226px;
}

button {
    border-radius: 10px;
    border: solid hsl(158, 36%, 37%);
    width: 234px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);

}

button:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 20%);
    border: solid hsl(158, 36%, 20%);
}


#card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 601px;
    height: 452px;
    left: 30rem;
    top: 7rem;
}  

.product-title {
    font-family: 'Fraunces', serif;
    width: 226px;
    font-weight: 700;
    color: black;

}

.description_product {
    position: relative;
    align-items: center;
    height: 387px;
    width: 234px;
    padding: 30px;
} 

.price1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-bottom: 10px;
    color: hsl(158, 36%, 37%);
    width: 124px;
}

.price2 {
    position: relative;
    left: 145px;
    margin-right: 0;
    bottom: 36px;
    width: 50px;
}